$side: #000000;
$boxH: 100%;
$boxW: 100%;
$mainColor: #FC7309;
$backColor: #FEFEFE;
%b {
    border: 1px solid $mainColor;
}

%tanxingX {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
%tanxingY {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
%juzhong {
    text-align: center;
    vertical-align: auto;
}
h1,
h2,
h3,
h4,
p {
    margin: 0;
}
a {
    text-decoration: none;
}
i {
    vertical-align: bottom;
    text-align: center;
}

//吸顶菜单
.fixed{
    /*相对于body固定定位*/
    position: fixed;
    top: -40px;
    left: 0px;
    z-index: 199;
}


//main
%main {
    .main_three_t {
        padding-top: 20px;
        height: 150px;
        width: 100%;
        margin-bottom: 10px;
        img {
            height: 150px;
            width: 100%;
            margin-bottom: 10px;
        }
    }

    .main_three_b {
        height: 530px;
        width: 100%;
        border: 1px solid #CECECE;
        @extend %tanxingY;
        .main_three_bl {
            width: 365px;
            height: 529px;
            border-right: 1px solid #CECECE;

            div {
                height: 85px;
                width: 305px;
                background: #F8C324;
                line-height: 85px;
                text-align: center;
                padding-left: 60px;
                color: $backColor;
                position: relative;
                p {
                    position: absolute;
                    top: -2px;
                    left: -40px;
                    border: 40px solid transparent;
                    border-top-color: $backColor;
                }
                span {
                    display: inline-block;
                    width: 80px;
                    height: 85px;
                    padding-right: 20px;

                }
                button {
                    border: 1px solid $backColor;
                    height: 23px;
                    width: 100px;
                    font-size: 14px;
                    background: #F8C324;
                    a {
                        color: $backColor;
                    }
                }
            }
        }
        .main_three_br {
            height: 530px;
            width: 846px;

            .main_three_brt {
                height: 264px;
                width: 846px;
                border-bottom: 1px solid #CECECE;

                div {
                    float: left;
                }
                .main_three_brt1 {
                    width: 410px;
                    height: 263px;
                }
                .main_three_brt2 {
                    width: 215px;
                    height: 263px;
                    border-left: 1px solid #CECECE;
                }
            }
            .main_three_brb {
                height: 265px;
                width: 843px;
                div {
                    float: left;
                }
                .main_three_brt1 {
                    width: 410px;
                    height: 263px;
                    border-left: 1px solid #CECECE;
                }
                .main_three_brt2 {
                    width: 215px;
                    height: 263px;
                    border-right: 1px solid #CECECE;
                }
                .main_three_brt2_2 {
                    width: 215px;
                    height: 263px;
                }
            }

        }
    }
}

%main2 {
    .main_four {
        @extend %main;
        .main_three_t{
            height: 219px;
            img{
                height: 219px;
            }
        }
        .main_three_b {
            .main_three_br {
                width: 843px;
                @extend %tanxingY;
                .main_four_c {
                    width: 595px;
                    .main_three_brt {
                        width: 604px;
                        border-bottom: none;
                        .main_three_brt2 {
                            width: 200px;
                            border-right: 1px solid #CECECE;
                            border-bottom: 1px solid #CECECE;
                            border-left: none;
                            border-top: 0;
                        }
                    }
                    .main_three_brb {
                        width: 604px;
                        border-bottom: none;
                        .main_three_brt2 {
                            width: 200px;
                            border-right: 1px solid #CECECE;
                            //                                  border-bottom: 1px solid #CECECE;
                            border-left: none;
                            border-top: 0;
                        }
                    }
                }
                .main_four_r {
                    height: 530px;
                    width: 240px;
                    //                          border-left:1px solid #CECECE ;
                    @extend %tanxingX;
                    .mfr {
                        height: 175px;
                        width: 240px;
                        border-bottom: 1px solid #CECECE;
                    }
                }
            }
        }
    }
}
