// 导入scss文件
@import 'var';
.box {
    height: $boxH;
    width: $boxW;
    @extend %tanxingX;
    .side {
        position: fixed;
        height: 100%;
        width: 40px;
        right: 0;
        top: 0;
        background-color: $side;
        z-index: 5;
    }

    //头部
    header {
        height: 120px;
        .header_t {
            background-color: #F6F6F6;
            width: 100%;
            .header_tl {
                float: left;
                height: 30px;
                width: 240px;
                line-height: 30px;
                .htl1 {
                    color: #BABAC7;
                    font-size: 10px;

                }
                .htl2 {
                    padding-left: 20px;
                    color: #323232;
                    font-size: 14px;
                    i {
                        height: 20px;
                        width: 20px;
                    }
                }
            }
            .header_tr {
                float: right;
                width: 440px;

                ul {
                    li {
                        float: right;
                        height: 30px;
                        line-height: 30px;
                        a {
                            height: 13px;
                            width: 100px;
                            border-right: 1px solid #873287;
                            font-size: 13px;
                            padding-right: 10px;
                            padding-left: 30px;
                            color: #323232;
                        }
                        a:hover {
                            color: limegreen;
                        }
                    }
                    li:first-child {
                        position: relative;
                        img {
                            position: absolute;
                            top: 30px;
                            right: -70px;
                            z-index: 1;
                            display: none;
                        }
                    }
                    li:hover img {
                        display: block;
                    }
                    .guanzhu {
                        a {
                            border: none;
                        }
                    }
                }

            }
        }

        .header_b {
            background-color: #DFDFDF;
            padding: 10px 0;
            width: 100%;
            .logo {
                float: left;
            }
            .header_b_c {
                float: left;
                width: 570px;
                height: 40px;
                margin: 19px 0 19px 20px;
                .hbc1 {
                    height: 32px;
                    position: relative;
                    margin-bottom: 10px;
                    input {
                        height: 30px;
                        @extend %b;
                        width: 490px;
                        padding-left: 10px;
                        display: inline-block;
                    }

                    button {
                        position: absolute;
                        width: 70px;
                        height: 32px;
                        background-color: $mainColor;
                        font-size: 18px;
                        @extend %b;
                        right: 0;
                        top: 0;
                        a {
                            color: $backColor;

                        }
                    }
                }

                ul {
                    width: 300px;
                    li {
                        float: left;
                        height: 20px;
                        width: 60px;
                        font-size: 12px;
                        a {
                            height: 12px;
                            width: 60px;
                            color: $mainColor;
                        }
                    }
                }
            }

            .top_Car {
                position: relative;
                float: right;
                height: 40px;
                width: 200px;
                @extend %b;
                margin: 20px 0;
                background-color: $backColor;
                z-index: 2;
                
                span {
                    display: inline-block;
                    color: $mainColor;
                    position: absolute;
                    right: 30px;
                    font-size: 14px;
                    top: 10px;
                }
                
                .top_hide {
                    width: 400px;
                    @extend %b;
                    background-color: $backColor;
                    position: absolute;
                    top: 41px;
                    right: -1px;
                    @extend %tanxingX;
                    z-index: 1;
                    display: none;
                    
                    p {
                        font-weight: 900;
                        padding: 10px 0 10px 10px;
                        font-size: 13px;
                    }
                    
                    .carBox {
                        min-height: 120px;
                    }

                    .top_hide_b {
                        height: 40px;
                        background-color: lightgrey;
                        line-height: 40px;
                        font-size: 14px;
                    }
                }
            }
            .top_Car:hover{
                border-bottom: none;
            }
            .top_Car:hover .top_hide{
                    display: block;
                }

        }

        .header_container {
            height: 20px;
            width: 100px;
            position: relative;
            z-index: 99;

            .banner {
                height: 470px;
                width: 150px;
                background: $backColor;
                left: 0;
                display: inline-block;
                position: absolute;
                top: -12px;
                h4 {
                    height: 40px;
                    background: $mainColor;
                    text-align: center;
                    line-height: 40px;
                    color: $backColor;
                }
                .banner_b {
                    z-index: 2;
                    ul {
                        height: 430px;
                        width: 150px;
                        padding-top: 10px;
                        text-align: center;
                        background: #F9F9F9;
                        display: inline-block;
                        z-index:6;
                        li {
                            height: 50px;
                            margin-top: 5px;
                            padding: 0 40px;
                            background: $backColor;
                            line-height: 50px;
                            position: relative;
                            
                            .banner_left{
                                position: absolute;
                                top: -10px;
                                left: 150px;
                                height: 200px;
                                width: 700px;
                                text-align: left;
                                background-color: $backColor;
                                display: none;
//                              z-index: 6;
                                li{
                                    h4{
                                        display: inline-block;
                                        background: none;
                                        color: $mainColor;
                                        padding-right: 10px;
                                   
                                    }
                                   a{ 
                                       font-size: 14px; 
                                       color: lightslategrey;
//                                     border-left: 1px solid black;
                                   } 
                                   
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //轮播
    nav {
        width: 100%;
        height: 480px;
        margin-bottom: 20px;
        .container {
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 480px;
            .lunbo {
                position: absolute;
                left: 50%;
                margin-left: -960px;
                width: 1920px;
                height: 480px;
                img {
                    height: 480px;
                    width: 1920px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            .page {
                position: absolute;
                right: 45%;
                bottom: 15px;
                z-index: 1;
                span {
                    display: inline-block;
                    margin: 0 5px;
                    width: 20px;
                    height: 20px;
                    line-height: 30px;
                    text-align: center;
                    border: 1px solid $mainColor;
                    border-radius: 50%;
                }
                span.active {
                    background-color: #f60;
                    color: #fff;
                }
            }
        }

    }

    //main
    main {
        .container {
            .main_one {
                padding: 10px 0;
                height: 314px;
                width: 100%;
                @extend %tanxingY;
                div {
                    position: relative;
                    //                  float: left;
                    width: 290px;
                    height: 314px;
                    //                  @extend %b;
                    //                  @extend %tanxingY;
                    img {
                        position: absolute;
                        height: 314px;
                        width: 290px;
                        top: 0;
                        left: 0;
                    }
                    .img_center {
                        position: absolute;
                        height: 120px;
                        width: 200px;
                        border: 4px solid $backColor;
                        left: 45px;
                        bottom: 20px;

                        div {
                            margin: 10px;
                            height: 100px;
                            width: 180px;
                            background: $backColor;
                            //                          line-height: 100px;
                            text-align: center;
                            h3 {
                                //                              font-weight: 900;
                                width: 160px;
                                height: 20px;
                                border-bottom: 1px dashed black;
                                padding: 10px 0;
                                margin: 10px 0 5px 10px;
                            }
                        }
                    }
                }
            }
            .main_tow {
                height: 465px;
                width: 100%;
                @extend %tanxingY;
                .main_tl {
                    @extend %tanxingX;
                    height: 465px;
                    width: 690px;
                    //                  @extend %b;
                    div {

                        height: 230px;
                        width: 690px;
                        img {
                            width: 690px;
                        }
                    }
                }
                .main_tr {
                    height: 465px;
                    width: 500px;
                    @extend %tanxingX;
                    .main_tr_t {
                        height: 70px;
                        width: 500px;
                        background-color: #9FD132;
                        line-height: 70px;
                        text-align: center;
                        font-size: 28px;
                        color: $backColor;
                    }
                    .main_tr_b {
                        width: 500px;
                        height: 385px;
                        @extend %tanxingY;
                        .main_tr_bl {
                            height: 384px;
                            width: 390px;
                            //                          @extend %b;
                            position: relative;

                            div {
                                position: absolute;
                                top: 0;
                                left: 0;
                                span {
                                    position: absolute;
                                    left: 0;
                                    bottom: 0;
                                    display: block;
                                    height: 60px;
                                    @extend %juzhong;
                                    width: 100%;
                                    background: black;
                                    opacity: 0.4;
                                    color: $backColor;
                                    line-height: 60px;
                                }

                                a {
                                    img {
                                        height: 384px;
                                        width: 390px;
                                    }
                                }
                            }
                        }
                        .main_tr_br {
                            width: 90px;
                            height: 384px;
                            @extend %tanxingX;
                            div {
                                height: 88px;
                                width: 88px;
                                a {
                                    img {
                                        height: 87px;
                                        width: 87px;
                                    }
                                }
                            }
                            .active1 {
                                border: 2px solid #9FD132;
                            }
                        }
                    }
                }

            }

            .main_three {
                @extend %main;
                margin-bottom: 20px;
            }
            .main_four {
                @extend %main;
                margin-bottom: 20px;
                .main_three_t {
                    height: 219px;
                    img {
                        height: 219px;
                    }
                }
                .main_three_b {
                    .main_three_br {
                        width: 843px;
                        @extend %tanxingY;
                        .main_four_c {
                            width: 595px;
                            .main_three_brt {
                                width: 604px;
                                border-bottom: none;
                                .main_three_brt2 {
                                    width: 200px;
                                    border-right: 1px solid #CECECE;
                                    border-bottom: 1px solid #CECECE;
                                    border-left: none;
                                    border-top: 0;
                                }
                            }
                            .main_three_brb {
                                width: 604px;
                                border-bottom: none;
                                .main_three_brt2 {
                                    width: 200px;
                                    border-right: 1px solid #CECECE;
                                    //                                  border-bottom: 1px solid #CECECE;
                                    border-left: none;
                                    border-top: 0;
                                }
                            }
                        }
                        .main_four_r {
                            height: 530px;
                            width: 240px;

                            @extend %tanxingX;
                            .mfr {
                                height: 175px;
                                width: 240px;
                                border-bottom: 1px solid #CECECE;
                            }
                        }
                    }
                }
            }
            .main_five {
                @extend %main;
                @extend %main2;
            }
            .main_six {
                @extend %main2;
                .main_four {
                    .main_three_b {
                        .main_three_br {
                            .main_four_c {
                                width: 612px;
                                .main_three_brt {
                                    width: 625px;
                                    .main_three_brt1 {
                                        border-bottom: 1px solid #CECECE;
                                        border-right: 1px solid #CECECE;
                                    }
                                }
                            }
                            .main_four_r {
                                width: 231px;
                            }
                        }
                    }
                }
            }

        }
    }

    //底部
    footer {
        //      height: 840px;
        .footer_t {
            height: 120px;
            width: 100%;
            background-color: $mainColor;
            margin-top: 20px;
            ul {
                @extend %tanxingY;
                width: 1212px;
                li {
                    height: 120px;
                    width: 242px;
                    float: left;
                    background: url("../img/footer_t1.png") left no-repeat;
                    line-height: 120px;
                    padding-left: 80px;
                    color: $backColor;
                    h4 {
                        //                      font-size: 1px;
                        height: 20px;
                    }
                    p {
                        font-size: 12px;
                        height: 20px;
                    }
                }
            }
        }

        .footer_b {
            //          height: 600px;
            .footer_b_t {
                height: 420px;
                border-bottom: 1px solid lightslategray;
                padding: 20px 10px;

                .footer_b_t_l {

                    width: 890px;
                    float: left;
                    .footer_b_t_lt {
                        width: 880px;
                        height: 160px;
                        border: 1px solid lightgrey;
                        padding: 10px 0 10px 10px;
                        .footer_b_t_lt1 {
                            float: left;
                            width: 220px;
                            height: 140px;
                            //                          @extend %b;
                            margin-right: 10px;

                            div {
                                padding: 5px 0 0;
                            }
                        }
                        .footer_b_t_lt2 {
                            float: left;
                            width: 640px;
                            height: 140px;
                            @extend %tanxingX;
                            div {
                                p {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                    .footer_b_t_lb {
                        height: 200px;
                        @extend %tanxingY;
                        padding: 30px;
                        ul {
                            float: left;
                            padding-top: 20px;
                            font-size: 14px;
                            li {
                                padding-top: 10px;
                                h5 {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
                .footer_b_t_r {
                    float: right;
                    width: 280px;
                    height: 430px;
                    //                  padding: 10px;
                    @extend %tanxingX;

                    .footer_b_t_r1 {
                        div {
                            a {
                                display: block;
                                height: 50px;
                                width: 280px;
                                background: url("../img/index-commonweal.jpg") no-repeat;
                                padding-top: 10px;
                            }
                        }
                    }
                    .footer_b_t_r2 {
                        height: 150px;
                        @extend %tanxingY;
                        text-align: center;
                        div {
                            h3 {
                                margin-bottom: 10px;
                            }
                            div {
                                float: left;
                                height: 100px;
                                width: 100px;
                                background: url("../img/index-bottom-ygw-wx.jpg");
                            }
                        }
                    }

                }
            }
            .footer_b_b {
                padding: 20px 0 0;

                text-align: center;
                ul {
                    height: 20px;
                    width: 700px;
                    margin: 0 auto 20px;
                    li {
                        width: 84px;
                        height: 20px;
                        float: left;
                        font-size: 13px;
                        text-align: center;
                        line-height: 20px;
                        a {
                            height: 13px;
                            padding-right: 17px;
                            border-right: 1px solid black;
                        }
                        .footer_b_b_last {
                            border-right: none;
                        }
                    }

                }

                .bottom_photo {
                    width: 850px;
                    height: 50px;
                    margin: 0 auto;
                    div {
                        float: left;
                        height: 50px;
                        width: 125px;
                        margin-left: 5px;
                        img {
                            width: 125px;
                        }
                    }
                    .gongjian {
                        width: 55px;
                        img {

                            width: 55px;
                            height: 50px;

                        }
                    }
                }
                p {
                    margin: 10px;

                    color: lightgrey;
                    font-size: 13px;
                    span {
                        color: black;
                    }
                }
            }
        }
    }

}
