@import 'var';
.box{
    .header{
        .header_container{
            .banner{
                top: 0;
                .banner_b{
                    display: none;
                }

            }
            .banner:hover .banner_b{display: block;}
            .newbanner{
                height: 39px;
//              width:100%;
                padding-left: 150px;
                ul{
//                  width: 400px;
                    padding-left: 20px;
                    border-bottom: 1px solid $mainColor;
                    line-height: 40px;
                    li{
                        float: left;
                        padding-left: 20px;
                        width: 100px;
                        height: 39px;
                    }
                    li:hover{
                        color:$mainColor;                    
                    }
                }
            }
        }
    }
    #shopCar{
        height: 530px;
        margin-top:10px ;
        padding-top: 50px;

        .shop_car{
            width: 100%;
            min-height: 400px;
            padding: 0 10px;
//          .car_top{
                ul{
                    line-height: 50px;
                    text-align: center;
                    height: 50px;
                    border-bottom: 1px solid gray;
                    li{
                        float: left;
                        height: 50px;
                        width: 120px;
                    }
                    .car_top1{
                        width: 600px;
                        text-align: left;
                    }
                    img{
                        height: 80px;
                        width: 80px;
                        border:1px solid lightgray;
                        margin-left: 20px;
                    }
                    p{
                        line-height: 52px;
                        height: 52px;
                    }
                    span:hover{
                        color:forestgreen;
                    }
                   
                }
                .shoplist{
                    height: 103px;
                    line-height: 103px;
                    li{
                        height: 104px;
                        
                         div{
                            display: inline-block;
                            width: 50px;
                            height: 20px;
                            border: 1px solid lightgrey;
                            vertical-align:middle;
                            line-height: 20px;
                        }
                        button{
                            vertical-align: middle;
                        }
                        
                    }
                    
                }
//          }
        }
    }
}