@charset "UTF-8";
.hpimg {
  position: relative;
  overflow: hidden;
  height: 264px;
  width: 201px;
}

.hpimg img {
  height: 180px;
  width: 180px;
  text-align: center;
  padding: 10px;
}

.hpimg p {
  text-align: center;
  height: 20px;
  width: 197px;
  font-size: 14px;
}

.hpimg .shanghua {
  display: block;
  position: absolute;
  background: #FC7309;
  height: 35px;
  width: 180px;
  text-align: center;
  bottom: -35px;
  left: 11px;
  color: #FEFEFE;
  line-height: 35px;
  opacity: 0.6;
}

.hpimg div {
  height: 20px;
  width: 197px;
  padding: 5px 10px 0px 10px;
}

.hpimg div span {
  color: #FC7309;
  display: inline-block;
  width: 70px;
}

.hpimg div .hpspan2 {
  width: 40px;
  color: black;
  font-size: 13px;
  padding-left: 30px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

i {
  vertical-align: bottom;
  text-align: center;
}

.fixed {
  /*相对于body固定定位*/
  position: fixed;
  top: -40px;
  left: 0;
  z-index: 199;
}

body {
  background: url("../img/admin-re-bg.jpg");
  background-size: 100% 100%;
}

body .zhuce {
  height: 479px;
  width: 345px;
  background: #FEFEFE;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 20px 35px;
  transform: translate(-50%, -50%);
}

body .zhuce h1 {
  margin: 0;
}

body .zhuce h1 img {
  height: 50px;
  width: 130px;
}

body .zhuce .firstP {
  color: black;
  font-size: 25px;
  position: relative;
  line-height: 40px;
  height: 40px;
}

body .zhuce .firstP span {
  display: inline-block;
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 0;
}

body .zhuce .firstP span a {
  color: #FC7355;
}

body .zhuce label {
  display: inline-block;
  height: 50px;
  width: 50px;
  text-align: center;
  background: #A9A9A9;
  font-size: 0;
  vertical-align: bottom;
}

body .zhuce label img {
  padding: 15px;
}

body .zhuce input {
  height: 50px;
  width: 245px;
  border: 1px solid #DDDDDD;
  padding-left: 5px;
  font-size: 16px;
}

body .zhuce .ynumber {
  width: 120px;
  margin-right: 5px;
  font-size: 13px;
}

body .zhuce button {
  width: 120px;
  height: 50px;
  background: #FC7309;
  color: #FEFEFE;
  border: none;
}

body .zhuce .check {
  height: 25px;
  width: 25px;
  font-size: 13px;
}

body .zhuce .check2 {
  height: 30px;
  width: 200px;
  display: inline-block;
  margin-left: 10px;
}

body .zhuce .subm {
  height: 50px;
  width: 350px;
}

body .zhuce p {
  height: 21px;
  width: 345px;
  color: #D7CBC8;
}

body .zhuce p span {
  display: none;
  position: relative;
  height: 21px;
  padding-left: 40px;
}

body .zhuce p span i {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
}

body .zhuce p span i img {
  height: 20px;
  width: 20px;
}

body .zhuce .lastP {
  margin-bottom: 10px;
}

body .zhuce i {
  margin-left: 10px;
  display: inline-block;
  height: 50px;
  width: 30px;
  vertical-align: bottom;
}
