@charset "UTF-8";
.box header .header_b .header_b_c .hbc1 input, .box header .header_b .header_b_c .hbc1 button, .box header .header_b .top_Car, .box header .header_b .top_Car .top_hide {
  border: 1px solid #FC7309;
}

.box, .box header .header_b .top_Car .top_hide, .box main .container .main_tow .main_tl, .box main .container .main_tow .main_tr, .box main .container .main_tow .main_tr .main_tr_b .main_tr_br, .box main .container .main_four .main_three_b .main_three_br .main_four_r, .box footer .footer_b .footer_b_t .footer_b_t_l .footer_b_t_lt .footer_b_t_lt2, .box footer .footer_b .footer_b_t .footer_b_t_r {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box main .container .main_three .main_three_b, .box main .container .main_four .main_three_b, .box main .container .main_five .main_three_b, .box main .container .main_one, .box main .container .main_tow, .box main .container .main_tow .main_tr .main_tr_b, .box main .container .main_four .main_three_b .main_three_br, .box footer .footer_t ul, .box footer .footer_b .footer_b_t .footer_b_t_l .footer_b_t_lb, .box footer .footer_b .footer_b_t .footer_b_t_r .footer_b_t_r2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box main .container .main_tow .main_tr .main_tr_b .main_tr_bl div span {
  text-align: center;
  vertical-align: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

i {
  vertical-align: bottom;
  text-align: center;
}

.fixed {
  /*相对于body固定定位*/
  position: fixed;
  top: -40px;
  left: 0;
  z-index: 199;
}

.box main .container .main_three .main_three_t, .box main .container .main_four .main_three_t, .box main .container .main_five .main_three_t {
  padding-top: 20px;
  height: 150px;
  width: 100%;
  margin-bottom: 10px;
}

.box main .container .main_three .main_three_t img, .box main .container .main_four .main_three_t img, .box main .container .main_five .main_three_t img {
  height: 150px;
  width: 100%;
  margin-bottom: 10px;
}

.box main .container .main_three .main_three_b, .box main .container .main_four .main_three_b, .box main .container .main_five .main_three_b {
  height: 530px;
  width: 100%;
  border: 1px solid #CECECE;
}

.box main .container .main_three .main_three_b .main_three_bl, .box main .container .main_four .main_three_b .main_three_bl, .box main .container .main_five .main_three_b .main_three_bl {
  width: 365px;
  height: 529px;
  border-right: 1px solid #CECECE;
}

.box main .container .main_three .main_three_b .main_three_bl div, .box main .container .main_four .main_three_b .main_three_bl div, .box main .container .main_five .main_three_b .main_three_bl div {
  height: 85px;
  width: 305px;
  background: #F8C324;
  line-height: 85px;
  text-align: center;
  padding-left: 60px;
  color: #FEFEFE;
  position: relative;
}

.box main .container .main_three .main_three_b .main_three_bl div p, .box main .container .main_four .main_three_b .main_three_bl div p, .box main .container .main_five .main_three_b .main_three_bl div p {
  position: absolute;
  top: -2px;
  left: -40px;
  border: 40px solid transparent;
  border-top-color: #FEFEFE;
}

.box main .container .main_three .main_three_b .main_three_bl div span, .box main .container .main_four .main_three_b .main_three_bl div span, .box main .container .main_five .main_three_b .main_three_bl div span {
  display: inline-block;
  width: 80px;
  height: 85px;
  padding-right: 20px;
}

.box main .container .main_three .main_three_b .main_three_bl div button, .box main .container .main_four .main_three_b .main_three_bl div button, .box main .container .main_five .main_three_b .main_three_bl div button {
  border: 1px solid #FEFEFE;
  height: 23px;
  width: 100px;
  font-size: 14px;
  background: #F8C324;
}

.box main .container .main_three .main_three_b .main_three_bl div button a, .box main .container .main_four .main_three_b .main_three_bl div button a, .box main .container .main_five .main_three_b .main_three_bl div button a {
  color: #FEFEFE;
}

.box main .container .main_three .main_three_b .main_three_br, .box main .container .main_four .main_three_b .main_three_br, .box main .container .main_five .main_three_b .main_three_br {
  height: 530px;
  width: 846px;
}

.box main .container .main_three .main_three_b .main_three_br .main_three_brt, .box main .container .main_four .main_three_b .main_three_br .main_three_brt, .box main .container .main_five .main_three_b .main_three_br .main_three_brt {
  height: 264px;
  width: 846px;
  border-bottom: 1px solid #CECECE;
}

.box main .container .main_three .main_three_b .main_three_br .main_three_brt div, .box main .container .main_four .main_three_b .main_three_br .main_three_brt div, .box main .container .main_five .main_three_b .main_three_br .main_three_brt div {
  float: left;
}

.box main .container .main_three .main_three_b .main_three_br .main_three_brt .main_three_brt1, .box main .container .main_four .main_three_b .main_three_br .main_three_brt .main_three_brt1, .box main .container .main_five .main_three_b .main_three_br .main_three_brt .main_three_brt1 {
  width: 410px;
  height: 263px;
}

.box main .container .main_three .main_three_b .main_three_br .main_three_brt .main_three_brt2, .box main .container .main_four .main_three_b .main_three_br .main_three_brt .main_three_brt2, .box main .container .main_five .main_three_b .main_three_br .main_three_brt .main_three_brt2 {
  width: 215px;
  height: 263px;
  border-left: 1px solid #CECECE;
}

.box main .container .main_three .main_three_b .main_three_br .main_three_brb, .box main .container .main_four .main_three_b .main_three_br .main_three_brb, .box main .container .main_five .main_three_b .main_three_br .main_three_brb {
  height: 265px;
  width: 843px;
}

.box main .container .main_three .main_three_b .main_three_br .main_three_brb div, .box main .container .main_four .main_three_b .main_three_br .main_three_brb div, .box main .container .main_five .main_three_b .main_three_br .main_three_brb div {
  float: left;
}

.box main .container .main_three .main_three_b .main_three_br .main_three_brb .main_three_brt1, .box main .container .main_four .main_three_b .main_three_br .main_three_brb .main_three_brt1, .box main .container .main_five .main_three_b .main_three_br .main_three_brb .main_three_brt1 {
  width: 410px;
  height: 263px;
  border-left: 1px solid #CECECE;
}

.box main .container .main_three .main_three_b .main_three_br .main_three_brb .main_three_brt2, .box main .container .main_four .main_three_b .main_three_br .main_three_brb .main_three_brt2, .box main .container .main_five .main_three_b .main_three_br .main_three_brb .main_three_brt2 {
  width: 215px;
  height: 263px;
  border-right: 1px solid #CECECE;
}

.box main .container .main_three .main_three_b .main_three_br .main_three_brb .main_three_brt2_2, .box main .container .main_four .main_three_b .main_three_br .main_three_brb .main_three_brt2_2, .box main .container .main_five .main_three_b .main_three_br .main_three_brb .main_three_brt2_2 {
  width: 215px;
  height: 263px;
}

.box main .container .main_five .main_four .main_three_t, .box main .container .main_six .main_four .main_three_t {
  height: 219px;
}

.box main .container .main_five .main_four .main_three_t img, .box main .container .main_six .main_four .main_three_t img {
  height: 219px;
}

.box main .container .main_five .main_four .main_three_b .main_three_br, .box main .container .main_six .main_four .main_three_b .main_three_br {
  width: 843px;
}

.box main .container .main_five .main_four .main_three_b .main_three_br .main_four_c, .box main .container .main_six .main_four .main_three_b .main_three_br .main_four_c {
  width: 595px;
}

.box main .container .main_five .main_four .main_three_b .main_three_br .main_four_c .main_three_brt, .box main .container .main_six .main_four .main_three_b .main_three_br .main_four_c .main_three_brt {
  width: 604px;
  border-bottom: none;
}

.box main .container .main_five .main_four .main_three_b .main_three_br .main_four_c .main_three_brt .main_three_brt2, .box main .container .main_six .main_four .main_three_b .main_three_br .main_four_c .main_three_brt .main_three_brt2 {
  width: 200px;
  border-right: 1px solid #CECECE;
  border-bottom: 1px solid #CECECE;
  border-left: none;
  border-top: 0;
}

.box main .container .main_five .main_four .main_three_b .main_three_br .main_four_c .main_three_brb, .box main .container .main_six .main_four .main_three_b .main_three_br .main_four_c .main_three_brb {
  width: 604px;
  border-bottom: none;
}

.box main .container .main_five .main_four .main_three_b .main_three_br .main_four_c .main_three_brb .main_three_brt2, .box main .container .main_six .main_four .main_three_b .main_three_br .main_four_c .main_three_brb .main_three_brt2 {
  width: 200px;
  border-right: 1px solid #CECECE;
  border-left: none;
  border-top: 0;
}

.box main .container .main_five .main_four .main_three_b .main_three_br .main_four_r, .box main .container .main_six .main_four .main_three_b .main_three_br .main_four_r {
  height: 530px;
  width: 240px;
}

.box main .container .main_five .main_four .main_three_b .main_three_br .main_four_r .mfr, .box main .container .main_six .main_four .main_three_b .main_three_br .main_four_r .mfr {
  height: 175px;
  width: 240px;
  border-bottom: 1px solid #CECECE;
}

.box {
  height: 100%;
  width: 100%;
}

.box .side {
  position: fixed;
  height: 100%;
  width: 40px;
  right: 0;
  background-color: #000000;
  z-index: 5;
}

.box header {
  height: 120px;
}

.box header .header_t {
  background-color: #F6F6F6;
  width: 100%;
}

.box header .header_t .header_tl {
  float: left;
  height: 30px;
  width: 240px;
  line-height: 30px;
}

.box header .header_t .header_tl .htl1 {
  color: #BABAC7;
  font-size: 10px;
}

.box header .header_t .header_tl .htl2 {
  padding-left: 20px;
  color: #323232;
  font-size: 14px;
}

.box header .header_t .header_tl .htl2 i {
  height: 20px;
  width: 20px;
}

.box header .header_t .header_tr {
  float: right;
  width: 440px;
}

.box header .header_t .header_tr ul li {
  float: right;
  height: 30px;
  line-height: 30px;
}

.box header .header_t .header_tr ul li a {
  height: 13px;
  width: 100px;
  border-right: 1px solid #873287;
  font-size: 13px;
  padding-right: 10px;
  padding-left: 30px;
  color: #323232;
}

.box header .header_t .header_tr ul li a:hover {
  color: limegreen;
}

.box header .header_t .header_tr ul li:first-child {
  position: relative;
}

.box header .header_t .header_tr ul li:first-child img {
  position: absolute;
  top: 30px;
  right: -70px;
  z-index: 1;
  display: none;
}

.box header .header_t .header_tr ul li:hover img {
  display: block;
}

.box header .header_t .header_tr ul .guanzhu a {
  border: none;
}

.box header .header_b {
  background-color: #DFDFDF;
  padding: 10px 0;
  width: 100%;
}

.box header .header_b .logo {
  float: left;
}

.box header .header_b .header_b_c {
  float: left;
  width: 570px;
  height: 40px;
  margin: 19px 0 19px 20px;
}

.box header .header_b .header_b_c .hbc1 {
  height: 32px;
  position: relative;
  margin-bottom: 10px;
}

.box header .header_b .header_b_c .hbc1 input {
  height: 30px;
  width: 490px;
  padding-left: 10px;
  display: inline-block;
}

.box header .header_b .header_b_c .hbc1 button {
  position: absolute;
  width: 70px;
  height: 32px;
  background-color: #FC7309;
  font-size: 18px;
  right: 0;
  top: 0;
}

.box header .header_b .header_b_c .hbc1 button a {
  color: #FEFEFE;
}

.box header .header_b .header_b_c ul {
  width: 300px;
}

.box header .header_b .header_b_c ul li {
  float: left;
  height: 20px;
  width: 60px;
  font-size: 12px;
}

.box header .header_b .header_b_c ul li a {
  height: 12px;
  width: 60px;
  color: #FC7309;
}

.box header .header_b .top_Car {
  position: relative;
  float: right;
  height: 40px;
  width: 200px;
  margin: 20px 0;
  background-color: #FEFEFE;
  z-index: 2;
}

.box header .header_b .top_Car span {
  display: inline-block;
  color: #FC7309;
  position: absolute;
  right: 30px;
  font-size: 14px;
  top: 10px;
}

.box header .header_b .top_Car .top_hide {
  width: 400px;
  background-color: #FEFEFE;
  position: absolute;
  top: 41px;
  right: -1px;
  z-index: 1;
  display: none;
}

.box header .header_b .top_Car .top_hide p {
  font-weight: 900;
  padding: 10px 0 10px 10px;
  font-size: 13px;
}

.box header .header_b .top_Car .top_hide .carBox {
  min-height: 120px;
}

.box header .header_b .top_Car .top_hide .top_hide_b {
  height: 40px;
  background-color: lightgrey;
  line-height: 40px;
  font-size: 14px;
}

.box header .header_b .top_Car:hover {
  border-bottom: none;
}

.box header .header_b .top_Car:hover .top_hide {
  display: block;
}

.box header .header_container {
  height: 40px;
  width: 100px;
  position: relative;
  z-index: 99;
}

.box header .header_container .banner {
  width: 150px;
  background: #FEFEFE;
  left: 0;
  display: inline-block;
  position: absolute;
  top: -12px;
}

.box header .header_container .banner h4 {
  height: 40px;
  background: #FC7309;
  text-align: center;
  line-height: 40px;
  color: #FEFEFE;
}

.box header .header_container .banner .banner_b {
  z-index: 2;
}

.box header .header_container .banner .banner_b ul {
  height: 430px;
  width: 150px;
  padding-top: 10px;
  text-align: center;
  background: #F9F9F9;
  display: inline-block;
  z-index: 6;
}

.box header .header_container .banner .banner_b ul li {
  height: 50px;
  margin-top: 5px;
  padding: 0 40px;
  background: #FEFEFE;
  line-height: 50px;
  position: relative;
}

.box header .header_container .banner .banner_b ul li .banner_left {
  position: absolute;
  top: -10px;
  left: 150px;
  height: 200px;
  width: 700px;
  text-align: left;
  background-color: #FEFEFE;
  display: none;
}

.box header .header_container .banner .banner_b ul li .banner_left li h4 {
  display: inline-block;
  background: none;
  color: #FC7309;
  padding-right: 10px;
}

.box header .header_container .banner .banner_b ul li .banner_left li a {
  font-size: 14px;
  color: lightslategrey;
}

.box nav {
  width: 100%;
  height: 480px;
  margin-bottom: 20px;
}

.box nav .container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 480px;
}

.box nav .container .lunbo {
  position: absolute;
  left: 50%;
  margin-left: -960px;
  width: 1920px;
  height: 480px;
}

.box nav .container .lunbo img {
  height: 480px;
  width: 1920px;
  position: absolute;
  top: 0;
  left: 0;
}

.box nav .container .page {
  position: absolute;
  right: 45%;
  bottom: 15px;
  z-index: 1;
}

.box nav .container .page span {
  display: inline-block;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #FC7309;
  border-radius: 50%;
}

.box nav .container .page span.active {
  background-color: #f60;
  color: #fff;
}

.box main .container .main_one {
  padding: 10px 0;
  height: 314px;
  width: 100%;
}

.box main .container .main_one div {
  position: relative;
  width: 290px;
  height: 314px;
}

.box main .container .main_one div img {
  position: absolute;
  height: 314px;
  width: 290px;
  top: 0;
  left: 0;
}

.box main .container .main_one div .img_center {
  position: absolute;
  height: 120px;
  width: 200px;
  border: 4px solid #FEFEFE;
  left: 45px;
  bottom: 20px;
}

.box main .container .main_one div .img_center div {
  margin: 10px;
  height: 100px;
  width: 180px;
  background: #FEFEFE;
  text-align: center;
}

.box main .container .main_one div .img_center div h3 {
  width: 160px;
  height: 20px;
  border-bottom: 1px dashed black;
  padding: 10px 0;
  margin: 10px 0 5px 10px;
}

.box main .container .main_tow {
  height: 465px;
  width: 100%;
}

.box main .container .main_tow .main_tl {
  height: 465px;
  width: 690px;
}

.box main .container .main_tow .main_tl div {
  height: 230px;
  width: 690px;
}

.box main .container .main_tow .main_tl div img {
  width: 690px;
}

.box main .container .main_tow .main_tr {
  height: 465px;
  width: 500px;
}

.box main .container .main_tow .main_tr .main_tr_t {
  height: 70px;
  width: 500px;
  background-color: #9FD132;
  line-height: 70px;
  text-align: center;
  font-size: 28px;
  color: #FEFEFE;
}

.box main .container .main_tow .main_tr .main_tr_b {
  width: 500px;
  height: 385px;
}

.box main .container .main_tow .main_tr .main_tr_b .main_tr_bl {
  height: 384px;
  width: 390px;
  position: relative;
}

.box main .container .main_tow .main_tr .main_tr_b .main_tr_bl div {
  position: absolute;
  top: 0;
  left: 0;
}

.box main .container .main_tow .main_tr .main_tr_b .main_tr_bl div span {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 60px;
  width: 100%;
  background: black;
  opacity: 0.4;
  color: #FEFEFE;
  line-height: 60px;
}

.box main .container .main_tow .main_tr .main_tr_b .main_tr_bl div a img {
  height: 384px;
  width: 390px;
}

.box main .container .main_tow .main_tr .main_tr_b .main_tr_br {
  width: 90px;
  height: 384px;
}

.box main .container .main_tow .main_tr .main_tr_b .main_tr_br div {
  height: 88px;
  width: 88px;
}

.box main .container .main_tow .main_tr .main_tr_b .main_tr_br div a img {
  height: 87px;
  width: 87px;
}

.box main .container .main_tow .main_tr .main_tr_b .main_tr_br .active1 {
  border: 2px solid #9FD132;
}

.box main .container .main_three {
  margin-bottom: 20px;
}

.box main .container .main_four {
  margin-bottom: 20px;
}

.box main .container .main_four .main_three_t {
  height: 219px;
}

.box main .container .main_four .main_three_t img {
  height: 219px;
}

.box main .container .main_four .main_three_b .main_three_br {
  width: 843px;
}

.box main .container .main_four .main_three_b .main_three_br .main_four_c {
  width: 595px;
}

.box main .container .main_four .main_three_b .main_three_br .main_four_c .main_three_brt {
  width: 604px;
  border-bottom: none;
}

.box main .container .main_four .main_three_b .main_three_br .main_four_c .main_three_brt .main_three_brt2 {
  width: 200px;
  border-right: 1px solid #CECECE;
  border-bottom: 1px solid #CECECE;
  border-left: none;
  border-top: 0;
}

.box main .container .main_four .main_three_b .main_three_br .main_four_c .main_three_brb {
  width: 604px;
  border-bottom: none;
}

.box main .container .main_four .main_three_b .main_three_br .main_four_c .main_three_brb .main_three_brt2 {
  width: 200px;
  border-right: 1px solid #CECECE;
  border-left: none;
  border-top: 0;
}

.box main .container .main_four .main_three_b .main_three_br .main_four_r {
  height: 530px;
  width: 240px;
}

.box main .container .main_four .main_three_b .main_three_br .main_four_r .mfr {
  height: 175px;
  width: 240px;
  border-bottom: 1px solid #CECECE;
}

.box main .container .main_six .main_four .main_three_b .main_three_br .main_four_c {
  width: 612px;
}

.box main .container .main_six .main_four .main_three_b .main_three_br .main_four_c .main_three_brt {
  width: 625px;
}

.box main .container .main_six .main_four .main_three_b .main_three_br .main_four_c .main_three_brt .main_three_brt1 {
  border-bottom: 1px solid #CECECE;
  border-right: 1px solid #CECECE;
}

.box main .container .main_six .main_four .main_three_b .main_three_br .main_four_r {
  width: 231px;
}

.box footer {
  padding-top: 30px;
}

.box footer .footer_t {
  height: 120px;
  width: 100%;
  background-color: #FC7309;
  margin-top: 20px;
}

.box footer .footer_t ul {
  width: 1212px;
}

.box footer .footer_t ul li {
  height: 120px;
  width: 242px;
  float: left;
  background: url("../img/footer_t1.png") left no-repeat;
  line-height: 120px;
  padding-left: 80px;
  color: #FEFEFE;
}

.box footer .footer_t ul li h4 {
  height: 20px;
}

.box footer .footer_t ul li p {
  font-size: 12px;
  height: 20px;
}

.box footer .footer_b .footer_b_t {
  height: 420px;
  border-bottom: 1px solid lightslategray;
  padding: 20px 10px;
}

.box footer .footer_b .footer_b_t .footer_b_t_l {
  width: 890px;
  float: left;
}

.box footer .footer_b .footer_b_t .footer_b_t_l .footer_b_t_lt {
  width: 880px;
  height: 160px;
  border: 1px solid lightgrey;
  padding: 10px 0 10px 10px;
}

.box footer .footer_b .footer_b_t .footer_b_t_l .footer_b_t_lt .footer_b_t_lt1 {
  float: left;
  width: 220px;
  height: 140px;
  margin-right: 10px;
}

.box footer .footer_b .footer_b_t .footer_b_t_l .footer_b_t_lt .footer_b_t_lt1 div {
  padding: 5px 0 0;
}

.box footer .footer_b .footer_b_t .footer_b_t_l .footer_b_t_lt .footer_b_t_lt2 {
  float: left;
  width: 640px;
  height: 140px;
}

.box footer .footer_b .footer_b_t .footer_b_t_l .footer_b_t_lt .footer_b_t_lt2 div p {
  font-size: 12px;
}

.box footer .footer_b .footer_b_t .footer_b_t_l .footer_b_t_lb {
  height: 200px;
  padding: 30px;
}

.box footer .footer_b .footer_b_t .footer_b_t_l .footer_b_t_lb ul {
  float: left;
  padding-top: 20px;
  font-size: 14px;
}

.box footer .footer_b .footer_b_t .footer_b_t_l .footer_b_t_lb ul li {
  padding-top: 10px;
}

.box footer .footer_b .footer_b_t .footer_b_t_l .footer_b_t_lb ul li h5 {
  font-size: 16px;
}

.box footer .footer_b .footer_b_t .footer_b_t_r {
  float: right;
  width: 280px;
  height: 430px;
}

.box footer .footer_b .footer_b_t .footer_b_t_r .footer_b_t_r1 div a {
  display: block;
  height: 50px;
  width: 280px;
  background: url("../img/index-commonweal.jpg") no-repeat;
  padding-top: 10px;
}

.box footer .footer_b .footer_b_t .footer_b_t_r .footer_b_t_r2 {
  height: 150px;
  text-align: center;
}

.box footer .footer_b .footer_b_t .footer_b_t_r .footer_b_t_r2 div h3 {
  margin-bottom: 10px;
}

.box footer .footer_b .footer_b_t .footer_b_t_r .footer_b_t_r2 div div {
  float: left;
  height: 100px;
  width: 100px;
  background: url("../img/index-bottom-ygw-wx.jpg");
}

.box footer .footer_b .footer_b_b {
  padding: 20px 0 0;
  text-align: center;
}

.box footer .footer_b .footer_b_b ul {
  height: 20px;
  width: 700px;
  margin: 0 auto 20px;
}

.box footer .footer_b .footer_b_b ul li {
  width: 84px;
  height: 20px;
  float: left;
  font-size: 13px;
  text-align: center;
  line-height: 20px;
}

.box footer .footer_b .footer_b_b ul li a {
  height: 13px;
  padding-right: 17px;
  border-right: 1px solid black;
}

.box footer .footer_b .footer_b_b ul li .footer_b_b_last {
  border-right: none;
}

.box footer .footer_b .footer_b_b .bottom_photo {
  width: 850px;
  height: 50px;
  margin: 0 auto;
}

.box footer .footer_b .footer_b_b .bottom_photo div {
  float: left;
  height: 50px;
  width: 125px;
  margin-left: 5px;
}

.box footer .footer_b .footer_b_b .bottom_photo div img {
  width: 125px;
}

.box footer .footer_b .footer_b_b .bottom_photo .gongjian {
  width: 55px;
}

.box footer .footer_b .footer_b_b .bottom_photo .gongjian img {
  width: 55px;
  height: 50px;
}

.box footer .footer_b .footer_b_b p {
  margin: 10px;
  color: lightgrey;
  font-size: 13px;
}

.box footer .footer_b .footer_b_b p span {
  color: black;
}
