h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

i {
  vertical-align: bottom;
  text-align: center;
}

body {
  background: url("../img/admin-bg.jpg");
  background-size: 100% 100%;
}

body .login {
  height: 443px;
  width: 352px;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 20px 35px;
  transform: translate(-50%, -50%);
}

body .login .back {
  height: 500px;
  width: 420px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
  background: black;
}

body .login h1 {
  margin: 0;
}

body .login h1 img {
  height: 50px;
  width: 130px;
}

body .login .firstP {
  color: #FEFEFE;
  font-size: 25px;
  position: relative;
  line-height: 40px;
  height: 40px;
}

body .login .firstP span {
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 0;
}

body .login .firstP span a {
  color: #FC7355;
}

body .login form {
  height: 300px;
  width: 360px;
  margin: 0;
}

body .login form label {
  display: inline-block;
  height: 46px;
  width: 46px;
  text-align: center;
  background: #A9A9A9;
  vertical-align: bottom;
}

body .login form label img {
  padding: 12px;
}

body .login form input {
  height: 46px;
  width: 300px;
  border: 1px solid #DDDDDD;
  padding-left: 5px;
  font-size: 16px;
}

body .login form .check {
  height: 25px;
  width: 25px;
  font-size: 13px;
}

body .login form .check2 {
  height: 30px;
  width: 200px;
  display: inline-block;
  margin-left: 10px;
}

body .login form .subm {
  height: 50px;
  width: 350px;
  background: #FC7309;
  border: none;
}

body .login form p {
  height: 21px;
  width: 345px;
  color: #D7CBC8;
  font-size: 14px;
}

body .login form p span {
  display: none;
  position: relative;
  height: 21px;
  padding-left: 25px;
}

body .login form p span i {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: 15px;
  width: 15px;
}

body .login form .yanzhengma {
  line-height: 46px;
  background: none;
  color: #FEFEFE;
  font-size: 13px;
}

body .login form .inyanzheng {
  display: inline-block;
  width: 134px;
  margin-right: 10px;
  background: #FEFEFE;
  height: 46px;
}

body .login form .inyanzheng input {
  width: 90px;
  border: none;
  background: none;
  outline: none;
}

body .login form .inyanzheng i {
  display: inline-block;
  width: 30px;
  height: 46px;
  vertical-align: bottom;
  line-height: 30px;
  text-align: center;
}

body .login form .suijiyma {
  display: inline-block;
  width: 160px;
  height: 46px;
  line-height: 46px;
  vertical-align: bottom;
  background: #FEFEFE;
}

body .login form .jizhu {
  height: 30px;
  padding-top: 10px;
  line-height: 10px;
  position: relative;
}

body .login form .jizhu span {
  display: inline-block;
  vertical-align: bottom;
}

body .login form .jizhu .findpw {
  position: absolute;
  top: 20px;
  right: 0;
}

body .xiahuaxian {
  height: 15px;
  width: 345px;
  padding: 10px 0;
}

body .xiahuaxian span {
  display: block;
  float: left;
  width: 100px;
  height: 7px;
  border-top: 1px solid #CECECE;
  vertical-align: bottom;
  margin-top: 7px;
}

body .xiahuaxian span:nth-child(2) {
  border: none;
  height: 15px;
  font-size: 13px;
  color: #CECECE;
  width: 140px;
  margin: 0;
  text-align: center;
}

body .loginway {
  margin: 0 auto;
  width: 140px;
  height: 40px;
}

body .loginway a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: url(../img/dengluway.fw.png);
}

body .loginway a:nth-child(2) {
  background: url(../img/dengluway.fw.png) 80px;
}

body .loginway a:last-child {
  background: url(../img/dengluway.fw.png) 40px;
}
