@charset "UTF-8";
.hpimg {
  position: relative;
  overflow: hidden;
  height: 264px;
  width: 201px;
}

.hpimg img {
  height: 180px;
  width: 180px;
  text-align: center;
  padding: 10px;
}

.hpimg p {
  text-align: center;
  height: 20px;
  width: 197px;
  font-size: 14px;
}

.hpimg .shanghua {
  display: block;
  position: absolute;
  background: #FC7309;
  height: 35px;
  width: 180px;
  text-align: center;
  bottom: -35px;
  left: 11px;
  color: #FEFEFE;
  line-height: 35px;
  opacity: 0.6;
}

.hpimg div {
  height: 20px;
  width: 197px;
  padding: 5px 10px 0px 10px;
}

.hpimg div span {
  color: #FC7309;
  display: inline-block;
  width: 70px;
}

.hpimg div .hpspan2 {
  width: 40px;
  color: black;
  font-size: 13px;
  padding-left: 30px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

i {
  vertical-align: bottom;
  text-align: center;
}

.fixed {
  /*相对于body固定定位*/
  position: fixed;
  top: -40px;
  left: 0;
  z-index: 199;
}

.box .header .header_container .banner {
  top: 0;
}

.box .header .header_container .banner .banner_b {
  display: none;
}

.box .header .header_container .banner:hover .banner_b {
  display: block;
}

.box .header .header_container .newbanner {
  height: 39px;
  padding-left: 150px;
}

.box .header .header_container .newbanner ul {
  padding-left: 20px;
  border-bottom: 1px solid #FC7309;
  line-height: 40px;
}

.box .header .header_container .newbanner ul li {
  float: left;
  padding-left: 20px;
  width: 100px;
  height: 39px;
}

.box .header .header_container .newbanner ul li:hover {
  color: #FC7309;
}

.box #shopCar {
  height: 530px;
  margin-top: 10px;
  padding-top: 50px;
}

.box #shopCar .shop_car {
  width: 100%;
  min-height: 400px;
  padding: 0 10px;
}

.box #shopCar .shop_car ul {
  line-height: 50px;
  text-align: center;
  height: 50px;
  border-bottom: 1px solid gray;
}

.box #shopCar .shop_car ul li {
  float: left;
  height: 50px;
  width: 120px;
}

.box #shopCar .shop_car ul .car_top1 {
  width: 600px;
  text-align: left;
}

.box #shopCar .shop_car ul img {
  height: 80px;
  width: 80px;
  border: 1px solid lightgray;
  margin-left: 20px;
}

.box #shopCar .shop_car ul p {
  line-height: 52px;
  height: 52px;
}

.box #shopCar .shop_car ul span:hover {
  color: forestgreen;
}

.box #shopCar .shop_car .shoplist {
  height: 103px;
  line-height: 103px;
}

.box #shopCar .shop_car .shoplist li {
  height: 104px;
}

.box #shopCar .shop_car .shoplist li div {
  display: inline-block;
  width: 50px;
  height: 20px;
  border: 1px solid lightgrey;
  vertical-align: middle;
  line-height: 20px;
}

.box #shopCar .shop_car .shoplist li button {
  vertical-align: middle;
}
